PORT=3000
NODE_ENV=development

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=gym

JWT_ACCESS_TOKEN_PRIVATE_KEY=
JWT_ACCESS_TOKEN_PUBLIC_KEY=

JWT_REFRESH_TOKEN_PRIVATE_KEY=
JWT_REFRESH_TOKEN_PUBLIC_KEY=